{% extends "base_sistema.html" %}
{% block subtitulo %} Usuarios {% endblock%}
    {% block conteudo %}
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cadastro de Produto</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="row g-3" action="{{url_for('atualiza_produto', id=prods.id)}}" method="POST" name="dados_prods" onSubmit="return enviardados_prods();">
              <div class="box-body">               
                <div class="col-md-4">
                  <label class="form-label">Nome</label>
                  <input class="form-control" type="text" name="nome" id="nome" value="{prods.nome}">
                </div>
                <div class="col-md-4">
                  <label class="form-label" >QRCode Produto</label>
                  <input class="form-control" type="text" name="qr_code_produto" value="{prods.qr_code_produto}">
                </div>
                <div class="col-md-4">
                  <label class="form-label">Observação</label>
                  <input class="form-control"  type="text" name="reacao" value="{prods.observacao}">
                </div> 
                <div class="col-md-4">
                  <label class="form-label">Conservação</label>
                  <input class="form-control"  type="text" name="conservacao" value="{prods.conservacao}">
                </div> 
                <div class="col-md-4">
                  <label class="form-label">Validade</label>
                  <input class="form-control"  type="date" name="data_validade" value="{prods.data_validade}">
                </div> 
                <div class="col-md-12">
                  <br>                      
                </div>                                                         
                <div class="col-md-12">
                  <button class="btn btn-primary" type="submit">Alterar</button>                      
                </div>
                       
            </div>
            
            </form>                 
          </div><!-- /.box -->         
        </div><!--/.col (left) -->
        <!-- right column -->        
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    {% endblock %}