{% extends "base_sistema.html" %}
{% block subtitulo %} Usuarios {% endblock%}
    {% block conteudo %}
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cadastro de Pedido</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="row g-3" action="{{url_for('atualiza_pedido', id=peds.id)}}" method="POST" name="dados_peds" onSubmit="return enviardados_peds();">
              <div class="box-body">               
                <div class="col-md-4">
                  <label class="form-label">Nº Pedido</label>
                  <input class="form-control" type="text" name="num_pedido" id="num_pedido" value="{peds.num_pedido}">
                </div>
                <div class="col-md-4">
                  <label class="form-label" >Descrição</label>
                  <input class="form-control" type="text" name="descricao" value="{peds.descricao}">
                </div>
                <div class="col-md-4">
                  <label class="form-label">Insumos</label>
                  <input class="form-control"  type="text" name="insumos" value="{peds.insumos}">
                </div> 
                <div class="col-md-4">
                  <label class="form-label">Quantidade</label>
                  <input class="form-control"  type="text" name="quantidade" value="{peds.quantidade}">
                </div> 
                <div class="col-md-4">
                  <label class="form-label">Valor</label>
                  <input class="form-control"  type="text" name="valor" value="{peds.valor}">
                </div> 
                <div class="col-md-12">
                  <br>                      
                </div>                                                         
                <div class="col-md-12">
                  <button class="btn btn-primary" type="submit">Alterar</button>                      
                </div>
                       
            </div>
            
            </form>                 
          </div><!-- /.box -->         
        </div><!--/.col (left) -->
        <!-- right column -->        
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    {% endblock %}