{% extends "base_sistema.html" %}
{% block subtitulo %} Usuarios {% endblock%}
    {% block conteudo %}
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cadastro de usuarios</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form class="row g-3" action="{{url_for('cad_user')}}" method="POST" name="dados_user" onSubmit="return enviardados_user();">
              <div class="box-body">
               
              <div class="col-md-10">
                  {% with messages = get_flashed_messages()%}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success">
                          {{message}}                                                         
                        </div>                                 
                        {% endfor %}
                     {% endif %}
                  {% endwith %}
              </div>
              
              
              <div class="col-md-4">
                <label class="form-label">*Nome</label>
                <input class="form-control" type="text" name="nome" id="nome">
              </div>
              <div class="col-md-4">
                <label class="form-label" >E-mail</label>
                <input class="form-control" type="email" name="email">
              </div>
              <div class="col-md-4">
                <label class="form-label">Senha</label>
                <input class="form-control"  type="password" name="senha">
              </div>   
              <div class="col-md-12">
                <br>
              </div>                             
              <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Cadastrar</button>
              </div>
                       
            </div>
            
            </form>                 
          </div><!-- /.box -->         
        </div><!--/.col (left) -->
        <!-- right column -->        
      </div>   <!-- /.row -->
    </section><!-- /.content -->
    {% endblock %}