{% extends "base_login.html" %}
{% block conteudo %}

<!--{{form.errors}}-->
<form id="login_conf" action="{{url_for('index')}}" method="POST">
{{form.csrf_token}}
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card-group d-block d-md-flex row">
            <div class="card col-md-5 p-4 mb-0">
              <div class="card-body">
                <h1>Job Finder</h1>
                <p class="text-medium-emphasis">Coloque seu email e senha para entrar no sistema</p>
                <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                    </svg></span>
                  <!--<input class="form-control" type="text" name="email" placeholder="Digite seu e-mail">-->
                  {{form.email(class_="form-control",placeholder_="Digite seu email")}}
                </div>
                <div class="input-group mb-4"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                    </svg></span>
                  <!--<input class="form-control" type="password" name="senha" placeholder="Digite sua senha">-->
                  {{form.senha(class_="form-control",placeholder_="Digite sua senha")}}
                </div>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <!--<input type="checkbox" class="form-check-input" name="remember" id="exampleCheck1" value="option1">-->
                    {{form.remember(class_="form-check-input")}}
                    <label class="form-check-label" for="exampleCheck1">
                      Permanecer conectado (por 7 dias)
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <!--<button class="btn btn-primary px-4" type="submit" id="login" name="login" type="button">Entrar</button>-->
                    {{form.submit(class_="btn btn-primary px-4")}}
                  </div>                  
                </div>                
              </div>
              {% include 'componentes/notification.html'%}
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% with messages1 = get_flashed_messages()%}
  {% if messages1 %}
      <div class="notification">
          {{messages1}}        
      </div>
  {% endif %}
{% endwith %}
    
{% endblock %}


