
  
{% extends "base_sistema.html" %}
{% block subtitulo %} Usuarios {% endblock%}
{% block conteudo %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-header">
        <h3 class="box-title">Cadastro de Pedido</h3>
      </div><!-- /.box-header -->
      <div class="box">
        <div class="car">
          {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                  {{message}}                                          
                </div>                                 
                {% endfor %}
             {% endif %}
          {% endwith %}
        </div>      
          <div class="box-body">
            <table id="example" class="display" style="width:100%">
              <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nº pedido</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Insumos</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Alterar</th>                     
                    <th scope="col">Excluir</th>
                  </tr>
              </thead>
              <tbody>
                {% for pedi in ped %}
                  <tr>
                    <td>{{pedi.id}}</td>
                    <td>{{pedi.num_pedido}}</td>
                    <td>{{pedi.descricao}}</td>
                    <td>{{pedi.insumos}}</td>
                    <td>{{pedi.quantidade}}</td>
                    <td>{{pedi.valor}}</td>
                    <td><a href="{{url_for('atualiza_pedido', id=pedi.id)}}"><span class="label label-success"><i class="fa-solid fa-pencil"></i> Alterar</span></a></td>
                    <td><a href="{{url_for('excluir_pedi', id=pedi.id)}}"><span class="label label-danger"><i class="fa-solid fa-eraser"></i> Excluir</span></a></td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          <a href="{{url_for('cad_pedido')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inserir pedido</a>
       </div>      
    </div>        
  </div>
</section>
{% endblock %}
     