
  
{% extends "base_sistema.html" %}
{% block subtitulo %} Usuarios {% endblock%}
{% block conteudo %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-header">
        <h3 class="box-title">Cadastro de Produto</h3>
      </div><!-- /.box-header -->
      <div class="box">
        <div class="car">
          {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                  {{message}}                                          
                </div>                                 
                {% endfor %}
             {% endif %}
          {% endwith %}
        </div>      
          <div class="box-body">
            <table id="example" class="display" style="width:100%">
              <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">QRCode Produto</th>
                    <th scope="col">Reação</th>
                    <th scope="col">Conservação</th>
                    <th scope="col">Data de Validade</th>
                    <th scope="col">Alterar</th>                     
                    <th scope="col">Excluir</th>
                  </tr>
              </thead>
              <tbody>
                {% for pdts in prod %}
                  <tr>
                    <td>{{pdts.id}}</td>
                    <td>{{pdts.nome}}</td>
                    <td>{{pdts.qr_code_produto}}</td>
                    <td>{{pdts.reacao}}</td>
                    <td>{{pdts.conservacao}}</td>
                    <td>{{pdts.data_validade}}</td>
                    <td><a href="{{url_for('atualiza_produto', id=pdts.id)}}"><span class="label label-success"><i class="fa-solid fa-pencil"></i> Alterar</span></a></td>
                    <td><a href="{{url_for('excluir_pdts', id=pdts.id)}}"><span class="label label-danger"><i class="fa-solid fa-eraser"></i> Excluir</span></a></td>
                  </tr>
                  {% endfor %}         
              </tbody>
          </table>
          <a href="{{url_for('cad_prod')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Inserir produto</a>
       </div>      
    </div>        
  </div>
</section>
{% endblock %}
     